body {
  font: 100% $font-stack;
  color: $primary-color;
  position: relative;
}

.container {
  @extend %container-default;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}