$poppins-font-path: '../../assets/fonts';
$font-stack: Poppins, sans-serif;
$font-light: Poppins-Light, sans-serif;
$primary-color: black;
$main-background-path: '../../assets/pictures/background.png';
$white-color: white;
$color-blue: #2EACF3;
$color-blue-background: #2EACF380;
$color-purple: #4233F4;
$color-purple-background: #4233F480;
$color-turquoise: #2CCBD6;
$color-turquoise-background: #3CD2DC80;
$color-gray: #F4F4FA;
$footer-color: #343434;
$footer-text-color: #909090;
$header-height: 85px;